@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-tercearia: #22d4fd;
  --cor-houver: #272727;
  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-tercearia);
  text-decoration: none;
}

.apresentacao {
  margin: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
  color: var(--cor-tercearia);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  padding: 10px;
  letter-spacing: 1px;
}

.apresentacao__conteudo__link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--cor-tercearia);
  color: var(--cor-secundaria);
  text-decoration: none;
  border-radius: 5px;
}

.apresentacao__conteudo__texto p {
  margin-bottom: 10px; /* Adicione esta linha para espaçamento entre parágrafos */
}

.apresentacao__conteudo__texto strong {
  display: block;
  margin-top: 10px; /* Adicione esta linha para espaçamento acima do elemento strong */
}

.apresentacao__conteudo__link:hover {
  background-color: var(--cor-houver);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__navegacao {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-tercearia);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
  background-color: var(--cor-houver);
}

.apresentacao__conteudo__texto {
  letter-spacing: 1px;
}

.apresentacao__imagem {
  width: 50%;
  border-radius: 10px;
}

.projetos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apresentacao__conteudo__imagem__projetos {
  width: 50%;
}

.apresentacao__conteudo__link__projetos {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--cor-tercearia);
  color: var(--cor-secundaria);
  text-decoration: none;
  border-radius: 5px;
  width: 20px;
}

.apresentacao__conteudo__video {
  width: 100%;
}

#fotoPerfil {
  width: 35%;
  border-radius: 15px;
}

.rodape {
  padding: 23.64px;
  color: var(--cor-primaria);
  background-color: var(--cor-tercearia);
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
    gap: 68px;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 5% 5% 10% 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .apresentacao__links__navegacao {
    width: 60%;
    gap: 8px;
  }

  .apresentacao__imagem {
    width: 80%;
  }

  #fotoPerfil {
    width: 80%;
  }
}
